{:kotoba.app/id "cloud.itonami.isic-9810", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifywg464zqgal5euot5ogjbgitrr7mpsse43usbhatifq4co7yjla", :kotoba.app/embed-url "ipfs://bafkreifywg464zqgal5euot5ogjbgitrr7mpsse43usbhatifq4co7yjla", :published {:archive "https://kotobase.net/ipfs/bafkreifywg464zqgal5euot5ogjbgitrr7mpsse43usbhatifq4co7yjla", :size 73119, :put-status 201, :get-status 200, :at "2026-08-15T13:48:41.346Z"}}
